{% extends 'base.html' %}

{% block contenido %}
<center>
    <div class="container-fluid" style="margin: 300px;">
        <h1>Eliminar Categoria</h1>
        <p>¿Estas seguro de que quieres eliminar la categoria "{{ object.nombre }}"?</p>
        <form method="post">
            {% csrf_token %}
            <input type="submit" value="Si, eliminar">
            <a style="color: black;" href="{% url 'apps.posts:categoria_list'%}">No, cancelar</a>
        </form>
    </div>
</center>
{% endblock %}