{% extends 'base.html' %}
{% load static %}
{% load colaborador_tags %}

{% block contenido %} 

<div class="container-fluid" style="margin: 200px;">

{% if user.is_superuser or request.user|has_group:"Colaborador" %}
    <div class="container-fluid" style="margin-top: 300px;">
        <a id="boton_post" href="{% url 'apps.posts:crear_post'%}">Crear nuevo post</a>
    </div>
{% endif %}

    {% for i in posts %}

        <br>
        <li>{{ i.titulo }}></li>
        <li>{{ i.subtitulo }}</li>
        <li>{{ i.categoria }}</li>
        <br>
        <a id="boton_post" href="{% url 'apps.posts:post_individual' i.id %}">
            Ingresá a este Post 
        </a>

        {% empty %}
        <h1>No hay registros</h1>

</div>

    
    {% endfor %}

    <br>
    <h1>Ahora estamos en el otro html</h1>
    <h1>donde estamos poniendo otro contenido</h1>
{% endblock %}
